{% extends 'main/home.html.twig' %}
{% block title %}Login
{% endblock %}
{%
block body %}

	<section class="h-100 h-custom" style="background-color: #d5bdaf">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12">
					<div class="card card-registration card-registration-2 shopcart-bg" >
						<div class="card-body p-0">
							<div class="row g-0">
								<div class="col-lg-8">
									<div class="p-5">
										<div class="title-shopcart" class="d-flex justify-content-between align-items-center mb-5">
											<h1 class="title-cart" class="fw-bold mb-0 text-black">Shopping Cart</h1>
										</div>
										<hr class="my-4"/>
										{% if count == 0 %}
											<h1>
												Empty cart, go shopping~
											{% else %}
												{% for p in product %}
													<div class="row mb-4 d-flex  align-items-center">
														<div class="col-md-2 col-lg-2 col-xl-2">
															{% set img = p.image %}
															<img src="{{asset('uploads/'~img)}}" class="img-fluid rounded-3 shopcart-img" alt="Cotton T-shirt"/>
														</div>
														<div  class="col-md-3 col-lg-3 col-xl-3 shopcart-bigname">
															<h6 class="text-black mb-0 shopcart-name">{{p.name}}</h6>
														</div>
														<div class="col-md-3 col-lg-3 col-xl-3 d-flex">
															<form class="d-flex flex-row shopcart-formvalue" role="search" method="GET" action="{{path('cart_edit')}}">
																<input type="hidden" name="id" value="{{app.user.id}}">
																<input type="hidden" name="proid" value="{{p.id}}">
																<input id="form1" min="0" name="quantity" value={{p.quantity}} type="number" class="form-control form-control-sm w-100 shopcart-value"/>

																<button class="btn btn-success btn-icon" type="submit"><i class="bi bi-arrow-up-circle-fill"></i></button>
															</form>
														</div>
													</form>

													<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
														<h6 class="mb-0 shopcart-name">{{p.total}}. VND</h6>
													</div>
													<div class="col-md-1 col-lg-1 col-xl-1 text-end ">
														<a href="{{path("cart_delete",{"product":p.id}) }}" class="text-muted button-delete ">
															<i class="fas fa-times buttonicon-delete"></i>
														</a>
													</div>
												</div>
											{% endfor %}
										{% endif %}
										<hr class="my-4"/>
										<div class="pt-5 data-container">
											<h6 class="mb-0">
												<a href="http://127.0.0.1:8000/index" class="text-body">
												<i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a>
											</h6>
										</div>
									</div>
								</div>
								<div class="col-lg-4 bg-grey ">
									<div class="p-5 bgsum  ">
										<h3 class="fw-bold mb-5 mt-2 pt-1 shopcar-title-h3">Summary</h3>
										<hr class="my-4"/>
										<div class=" mb-4">
											<h5 class="text-uppercase shopcart-total">Total items<br>
												<h12 class="shopcart-totalh12">{{count}}</h12>
												</h5>
										</div>
										<hr class="my-4"/>

										<div class=" mb-5">
											<h5 class="text-uppercase shopcart-total">Total price<br>
												<h12 class="shopcart-totalh12">{{total}}
												VND</h12>
											</h5>
										</div>
										{% if count == 0 == false%}
											<form action="{{path('order_show')}}">
												<button type="submit" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">
													Order
												</button>
											</form>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<style>
			.shopcart-bg{
				border-radius:15px;
				background-color: #f8edeb;
			}
			.title-shopcart{
				justify-content:center;
				font-weight:bold;
				

				
			}
			.title-cart{	
				font-family:Georgia;
				font-weight:bold;
				color: #4cc9f0;
				text-shadow:5px 5px 5px #ffc6ff;
				font-size:60px;
				border-color: #B22222;
			}
			.title-cart:hover{
				font-family:Georgia;
				font-weight:bold;
				color: #dedbd2;
				text-shadow:5px 5px 5px #000;
				font-size:60px;
				border-color: #B22222;
			}
			/* .shopcart-bigname{
				font-family:'Palatino Linotype', 'Book Antiqua' ,'Palatino';

			} */
			.shopcart-name{
				font-family:'Palatino Linotype', 'Book Antiqua' ,'Palatino';
				font-size:16px;
				font-weight:bold;
			}
			.shopcart-value{
				text-align:center;
				font-family:'Palatino Linotype', 'Book Antiqua' ,'Palatino';
				box-shadow:5px 5px 5px #000;
				border-color: #B22222;

				font-size:20px;
			}

			
			.shopcart-formvalue{

			}
			.shopcart-img{
				box-shadow:5px 5px 5px #6c757d;
			}
			.btn-icon{
				margin:2px 2px 2px 15px;
				background-color:#fcd5ce;
				border-color:#000;
				/* border-radius:30px; */
				box-shadow:3px 3px 3px #000;
			}
			.btn-icon:hover{
				margin:2px 2px 2px 15px;
				background-color:#000;
				border-color:#fff;


			}

			
			.bi{
				font-size: 20px;
				color:#f4978e;
					/* border-radius:50px */
			}
			.bi:hover{
				font-size: 20px;
				color:#fff;
			}
			.bgsum{
				border-radius:60px
				
			}



			.shopcart-bgSumary{
				background:red;
			}
			


	
				/* CSS */
				.text-body {
				--b: 3px;   /* border thickness */
				--s: .45em; /* size of the corner */
				--color: #373B44;
				
				padding: calc(.5em + var(--s)) calc(.9em + var(--s));
				color: var(--color);
				--_p: var(--s);
				background:
					conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
					var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
				transition: .3s linear, color 0s, background-color 0s;
				outline: var(--b) solid #0000;
				outline-offset: .6em;
				font-size: 16px;

				border: 0;

				user-select: none;
				-webkit-user-select: none;
				touch-action: manipulation;

				text-decoration: none;
				font-family:'Palatino Linotype', 'Book Antiqua' ,'Palatino';
				font-size:20px;
				font-weight:bold;
				
				}

				.text-body:hover,
				.text-body:focus-visible{
				--_p: 0px;
				outline-color: var(--color);
				outline-offset: .05em;
				}

				.text-body:active {
				background: var(--color);
				color: #fff;
				}

				.button-delete{
					font-size:50px;
				}

				.buttonicon-delete{
					color: #ffb3c6;
					text-shadow: 5px 5px 5px #000;
					border-color: #ffb703;
				}
				.buttonicon-delete:hover{
					color: #FF0000;
;
					text-shadow: 5px 5px 5px #000;
					border-color: #ffb703;
				}

				.bg-grey{
					background-color:#e2eafc;
					border-radius:5px;
				}


				.shopcar-title-h3{
					font-family:Georgia;
				font-weight:bold;
				color: #dedbd2	;
				text-shadow:5px 5px 5px #000;
				font-size:40px;
				border-color: #B22222;
				}
				.shopcar-title-h3:hover{
					font-family:Georgia;
				font-weight:bold;
				color: #4cc9f0	;
				text-shadow:5px 5px 5px #ffc6ff;
				font-size:40px;
				border-color: #B22222;
				}

				.text-uppercase{
					font-family:'Palatino Linotype', 'Book Antiqua' ,'Palatino';
				font-size:25px;
				font-weight:bold;
				}
				.shopcart-total{
					justify-content:center
				}
				.shopcart-totalh12{
				color:#FF3300;
				text-shadow: 1px 1px 1px #000;
				font-family: 'Original Surfer', 'cursive'; 
				font-size: 30	px; 
				line-height: 28px; 
				margin: 0 0 24px;
					 /* font-size: 26px; font-weight: 300; color: #ff3300; margin: 0 0 24px; */
				}


/* CSS */
.shopcart-buttonorder {

  all: unset;
  width: 100px;
  height: 30px;
  font-size: 20px;
  font-weight:bold;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shopcart-buttonorder::after,
.shopcart-buttonorder::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.shopcart-buttonorder::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.shopcart-buttonorder::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.shopcart-buttonorder:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.shopcart-buttonorder:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.shopcart-buttonorder:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


			/* .text-body{
cursor:pointer;
  position:relative;
  padding:10px 20px;
  background:white;
  font-size:28px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  transition:all 1s;
  &:after,&:before{
    content:" ";
    width:10px;
    height:10px;
    position:absolute;
    border :0px solid #fff;
    transition:all 1s;
    }
  &:after{
    top:-1px;
    left:-1px;
    border-top:5px solid black;
    border-left:5px solid black;
  }
  &:before{
    bottom:-1px;
    right:-1px;
    border-bottom:5px solid black;
    border-right:5px solid black;
  }
  &:hover{
    border-top-right-radius:0px;
  border-bottom-left-radius:0px;
    // background:rgba(0,0,0,.5);
    // color:white;
    &:before,&:after{
      
      width:100%;
      height:100%;
      // border-color:white;
    }
  }
}

.data-container{
  background:#ffebee;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
} */

	


			




		@media(min-width: 1025px) {
			.h-custom {
				height: 100vh !important;
			}
		}

		.card-registration .select-input.form-control[readonly]:not([disabled]) {
			font-size: 1rem;
			line-height: 2.15;
			padding-left: 0.75em;
			padding-right: 0.75em;
		}

		.card-registration .select-arrow {
			top: 13px;
		}


		@media(min-width: 992px) {
			.card-registration-2 .bg-grey {
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;
			}
		}

		@media(max-width: 991px) {
			.card-registration-2 .bg-grey {
				border-bottom-left-radius: 16px;
				border-bottom-right-radius: 16px;
			}
		}
	</style>
{% endblock %}
