{% extends 'main/home.html.twig' %} 

{% block title %}
Register 
{% endblock %} 
{% block body %}

<div class="container"
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">REGISTRATION</h3>
            {{ form_start(form) }}
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
<label for="" class="mb-1">Full Name</label>
					{{ form_widget(form.name) }}
                  </div>
                </div>
              </div>

<div class="row">
                <div class="col-md-12 mb-4 pb-2">
                  <div class="form-outline">
<label for="" class="mb-1">Email</label>
					{{ form_widget(form.email) }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4 pb-2">
                  <div class="form-outline">
					{{ form_widget(form.password) }}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: -25px;">
                <div class="col-md-12 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"
                      >Birthday</label>
					{{ form_widget(form.birthday) }}
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-check form-check-inline">
                  </div>
                  <div class="form-check form-check-inline">
                  </div>
                  <div class="form-check form-check-inline">
                  </div>
                </div>
              </div>
              <div class="mt-4 pt-2" >
                {{ form_widget(form.save) }}
              </div>
             {{ form_end(form) }}
            {# </form> #}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<style>
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
</style>
{% endblock %}
