{% extends 'main/home.html.twig' %}

{% block title %}User Profile
{% endblock %}

{% block body %}
	<div classname="page-heading pb-2 mt-4 mb-2 profileHEader ">
		<h3 class="profile-HEaeder" >Wellcome to Management</h3>
		<a href="{{path('index')}}" calss="profileA" style="justify-conntent:center;justify-content: center;display: flex; text-decoration:none;" >
			<button type="button" class="fas fa-long-arrow-alt-left me-2 profileButton">Back to index</button>
		</a>
	</div>
<div class="  justify-content-center align-items-center container-xl px-4 mt-4" style="background-color:#d5bdaf; display:flex" >

	<div class="row d-flex justify-content-center align-items-center   col-md-8 col-lg-6 col-xl-5">

		<hr class=" mt-0 mb-4">
				<!-- Account details card-->
				<div class="card mb-4 profile-bgr">



					<div class="header profile-title">Account Details</div>
					<div class="card-body">
						{# <form> #}
						{{ form_start(form) }}
							<!-- Form Group (username)-->
							<div class="mb-3">
							<label class="small mb-1" for="inputBirthday">Full Name</label>
							{# <input class="form-control" id="inputUsername" type="text" placeholder="Change your username"> #}
							{{ form_widget(form.name) }}
							</div>
							<!-- Form Row-->
							<div class="mb-3">
							<label class="small mb-1" for="inputBirthday">Email</label>
							{# <input class="form-control" id="inputUsername" type="text" placeholder="Change Your Mail here"> #}
							{{ form_widget(form.email) }}
								</div>
							<!-- Form Row        -->
							<div class="mb-3">
							<label class="small mb-1" for="inputBirthday">Phone Number</label>
							{# <input class="form-control" id="inputUsername" type="text" placeholder="Enter Your Phone here"> #}
							{{ form_widget(form.phone) }}
							</div>
							<!-- Form Group (email address)-->
							<div class="mb-3">
							<label class="small mb-1" for="inputBirthday">Address</label>
							{# <input class="form-control" id="inputUsername" type="text" placeholder="Enter Your Adress here"> #}
							{{ form_widget(form.address) }}
							</div>
							<!-- Form Row-->
						
								<!-- Form Group (birthday)-->
								<div class="md-3">
									<label class="small mb-1" for="inputBirthday">Birthday</label>
									{# <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988"> #}
                            	{{ form_widget(form.birthday) }}
								</div>
							</div>
							<!-- Save changes button-->
							{{ form_widget(form.save,{'attr':{'class':' profile-buttonChange '}}) }}
						{# </form> #}
						{{ form_end(form) }}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<style>
		body {
			background-color: #f2f6fc;
			color: #69707a;
		}
		.img-account-profile {
			height: 10rem;
		}
		.rounded-circle {
			border-radius: 50% !important;
		}
		.card {
			box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
			border-radius:15px;
		}
		.card .card-header {
			font-weight: 500;
		}
		.card-header:first-child {
			border-radius: 0.35rem 0.35rem 0 0;
		}
		.card-header {
			padding: 1rem 1.35rem;
			margin-bottom: 0;
			background-color: rgba(33, 40, 50, 0.03);
			border-bottom: 1px solid rgba(33, 40, 50, 0.125);
		}
		.form-control,
		.dataTable-input {
			display: block;
			width: 100%;
			padding: 0.875rem 1.125rem;
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1;
			color: #69707a;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #c5ccd6;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0.35rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}
		.nav-borders .nav-link.active {
			color: #0061f2;
			border-bottom-color: #0061f2;
		}
		.nav-borders .nav-link {
			color: #69707a;
			border-bottom-width: 0.125rem;
			border-bottom-style: solid;
			border-bottom-color: transparent;
			padding: 0.5rem 0;
			margin-left: 1rem;
			margin-right: 1rem;
		}


		
		.profile-bgr{
			color:#fff;	
			    border-radius: 15px;
				background-color:#000;
			box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);

		}



		.profile-title{
			color: #EE3A8C; 
			font-family: 'Trocchi', serif; 
			font-size: 60px; 
			font-weight: bold; 
			line-height: 48px; 
			margin: 20px 5px 5px 5px;
			text-shadow: 5px 5px 5px #fff;

		}
		.profile-title:hover{
			color: #d7e3fc; 
			font-family: 'Trocchi', serif; 
			font-size: 60px; 
			font-weight: bold; 
			line-height: 48px; 
			margin: 20px 5px 5px 5px;
			text-shadow: 5px 5px 5px #efcfe3;
		}
		


				/* CSS */
				.profile-buttonChange {
    margin: 16px 5px 10px 170px;
    					justify-content: center;
    					width: 10pc;
    					position: relative;
				padding: 0.6em 2em;
				border: none;
				outline: none;
				color: rgb(238 48 167);
				background: #111;
				cursor: pointer;
				position: relative;
				z-index: 0;
				border-radius: 10px;
				user-select: none;
				-webkit-user-select: none;
				touch-action: manipulation;
				}

				.profile-buttonChange:before {
				content: "";
				background: linear-gradient(
					45deg,
					#ff0000,
					#ff7300,
					#fffb00,
					#48ff00,
					#00ffd5,
					#002bff,
					#7a00ff,
					#ff00c8,
					#ff0000
				);
				position: absolute;
				top: -2px;
				left: -2px;
				background-size: 400%;
				z-index: -1;
				filter: blur(5px);
				-webkit-filter: blur(5px);
				width: calc(100% + 4px);
				height: calc(100% + 4px);
				animation: glowing-profile-buttonChange 20s linear infinite;
				transition: opacity 0.3s ease-in-out;
				border-radius: 10px;
				}

				@keyframes glowing-profile-buttonChange {
				0% {
					background-position: 0 0;
				}
				50% {
					background-position: 400% 0;
				}
				100% {
					background-position: 0 0;
				}
				}

				.profile-buttonChange:after {
				z-index: -1;
				content: "";
			
				position: absolute;
				width: 100%;
				height: 100%;
				background: #222;
				left: 0;
				top: 0;
				border-radius: 10px;
				}
				.profile-buttonChange:hover{
					color:#DDC488;
				}
				.profileHEader{
					    color: #CEF0D4;
						font-family: 'Rouge Script', cursive;
						font-size: 60px;
						font-weight: normal;
						line-height: 48px;
						margin: 0 0 50px;
						text-align: center;
						text-shadow: 1px 1px 2px #082b34;
				}
				.profile-HEaeder{
					color: #fc2f00;
					font-family: 'Rouge Script', cursive;
					font-size: 90px;
					font-weight: normal;
					line-height: 48px;
					margin: 50px 0 50px;
					text-align: center;
					text-shadow: 5px 5px 2px #082b34;
				}

				.profile-HEaeder:hover{
					color: #00FFFF;
					font-family: 'Rouge Script', cursive;
					font-size: 60px;
					font-weight: normal;
					line-height: 48px;
						margin: 50px 0 50px;
					text-align: center;
					text-shadow: 5px 1px 2px #082b34;
				}

					


					/* CSS */
					.profileButton {
					--b: 3px;   
					--s: .45em; 
					--color: #373B44;
					
					padding: calc(.5em + var(--s)) calc(.9em + var(--s));
					color: var(--color);
					--_p: var(--s);
					background:
						conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
						var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
					transition: .3s linear, color 0s, background-color 0s;
					outline: var(--b) solid #0000;
					outline-offset: .6em;
					font-size: 16px;

					border: 0;

					user-select: none;
					-webkit-user-select: none;
					touch-action: manipulation;
					}

					.profileButton:hover,
					.profileButton:focus-visible{
					--_p: 0px;
					outline-color: var(--color);
					outline-offset: .05em;
					}

					.profileButton:active {
					background: var(--color);
					color: #fff;
					}
				



	</style>
{% endblock %}