{% extends 'main/home.html.twig' %}
{% block title %}Receipt detail
{% endblock %}

{% block body %}

						<div class="row g-0">
							<div class="col-lg-8">
								<div class="p-5">
									<div class="page-content">
										<div class="btn-group" role="group" aria-label="Basic outlined example"></div>
										<div class="card">
											<div class="container mb-3">
												<div class="table-responsive text-nowrap">
													<table class="table table-striped">
														<thead>
															<tr>
																<th>ID</th>
																<th>Product Name</th>
																<th>Price</th>
																<th>Quantity</th>
																<th width="140">Date Created</th>
															</tr>
														</thead>
														<tbody class="table-border-bottom-0">
															{% for o in od %}
																<tr>
																	<td>{{o.id}}</td>
																	<td>{{o.name}}</td>
																	<td>{{o.price}}</td>
																	<td class="text-95">{{o.quantity}}</td>
																	<td class="text-secondary-d2">{{o.date|date('d/m/y')}}</td>
																</tr>
															{% endfor %}

														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
         {% endblock %}
