{% extends 'main/home.html.twig' %}
{% block title %}Receipt detail
{% endblock %}

{% block body %}

			<div class="page-heading pb-2 mt-4 mb-2 OderHEader ">
		<h3 class="Order-HEaeder" >Welcome to Management</h3>
		<a href="{{path('index')}}" calss="profileA" style="justify-conntent:center;justify-content: center;display: flex; text-decoration:none;" >
			<button type="button" class="fas fa-long-arrow-alt-left me-2 orderButton">Back to index</button>
		</a>
		</div>
<div class="  justify-content-center align-items-center container-xl px-4 mt-4" style="background-color:#d5bdaf; display:flex" >

	</div>
						<div class="row g-0"style="justify-content: center;">
							<div class="col-lg-8">
								<div class="">
									<div class="page-content Orderbg">
										<div class="btn-group" role="group" aria-label="Basic outlined example"></div>
										<div class="card OrderAround"style="box-shadow: 5px 5px 5px #d00000;">
											<div class="container mb-3">
												<div class="table-responsive text-nowrap">
													<table class="table table-striped">
														<thead class="orderHead">
															<tr>
																<th>ID</th>
																<th>Product Name</th>
																<th>Price</th>
																<th>Quantity</th>
																<th width="140">Date Created</th>
															</tr>
														</thead>
														<tbody class="table-border-bottom-0">
															{% for o in od %}
																<tr>
																	<td>{{o.id}}</td>
																	<td>{{o.name}}</td>
																	<td>{{o.price}}</td>
																	<td class="text-95">{{o.quantity}}</td>
																	<td class="text-secondary-d2">{{o.date|date('d/m/y')}}</td>
																</tr>
															{% endfor %}

														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
</div>

<style>



		
				.Order-HEaeder {
					color: #fc2f00;
					font-family: 'Rouge Script', cursive;
					font-size: 80px;
					font-weight: bold;
					line-height: 48px;
					margin: 50px 0 50px;
					text-align: center;
					text-shadow: 5px 5px 2px #fff;
				}

				.Order-HEaeder:hover{
					color: #00FFFF;
					font-family: 'Rouge Script', cursive;
					font-size: 60px;
					font-weight: normal;
					line-height: 48px;
						margin: 50px 0 50px;
					text-align: center;
					text-shadow: 5px 1px 2px #082b34;
				}


				/* CSS */
					.orderButton {
					--b: 3px;   
					--s: .45em; 
					--color: #073b4c;
					
					padding: calc(.5em + var(--s)) calc(.9em + var(--s));
					color: var(--color);
					--_p: var(--s);
					background:
						conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
						var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
					transition: .3s linear, color 0s, background-color 0s;
					outline: var(--b) solid #0000;
					outline-offset: .6em;
					font-size: 16px;

					border: 0;

					user-select: none;
					-webkit-user-select: none;
					touch-action: manipulation;
					}

					.orderButton:hover,
					.orderButton:focus-visible{
					--_p: 0px;
					outline-color: var(--color);
					outline-offset: .05em;
					}

					.orderButton:active {
					background: var(--color);
					color: #fff;
					}
					.OrderAround{
					text-shadow: 5px 5px 5px 5px;

					}
					.Orderbg{
					text-shadow: 5px 5px 5px 5px;

					}
					.orderHead{
						font-family:'Palatino Linotype','Book Antiqua','Palatino';
						font-size:25px;
					}
		
</style>
         {% endblock %}
